html{
    font-family: "Vazir";
    font-size: 100%;
}

body{
    padding-top: 2rem;
}

div{
    background-color: rgb(215, 160, 89);
    padding: 1.2rem;
    color: white;
    text-align: center;
    border-radius: 50px;
}

header,
section,
aside,
footer{
    margin: 0 1.5rem 2rem;
}


.item{
    font-size: 1.5rem;
    background-color: ;
}