html {
    font-size: 100%;
}

.header {
    background-color:#f4edc2 ;
    margin-bottom: 1rem;
    padding: 1rem;
    
}

.main {
    background-color: #7ed6df;
    padding: 1rem;
}

.sidebar{
    background-color: #2bc055;
    margin-bottom: 1rem;
}

.content{
    background-color: aquamarine;
}

.content .row{
    background-color: burlywood;
    padding: 1rem;
    margin-bottom: 1rem;
}

.content .row .box{
    
}