html {
    font-size: 100%;
}

.header {
    background-color:#f4edc2 ;
    margin-bottom: 1rem;
    padding: 1rem;
    
}

.main {
    background-color: #7ed6df;
    padding: 1rem;
    margin-bottom: 1rem;
}

.sidebar{
    background-color: #2bc055;
    margin-bottom: 1rem;
}

.content{
    background-color: aquamarine;
}

.content .row{
    background-color: burlywood;
    padding: 1rem;
    margin-bottom: 1rem;
}

.content .row .box{
    background-color: rgba(128, 255, 0, 0.483);
    padding: 1rem;
}

.main-second {
    background-color: thistle;
    padding: 1rem;
    margin-bottom: 1rem;
}

.intro-box{
    background-color: #2bc055;
    margin-bottom: 1rem;
}

.about-section{
    background-color: aquamarine;
    
}

.footer{
    background-color:#f4edc2 ;
    margin-bottom: 1rem;
    padding: 1rem;
}