html {
    font-size: 100%;
}

body{
    padding: 2rem;
}

.header {
    background-color:#f4edc2 ;
    border-radius: 3rem;
    margin-bottom: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .Brand {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 2rem;
}

.header .navbar a{
    text-decoration: none;
    margin-right: 1rem;
}

.main {
    background-color: #7ed6df;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 3rem;
    display: flex;
    gap: 1rem;

}

.sidebar{
    background-color: #2bc055;
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2rem;
}

.content{
    background-color: aquamarine;
    padding: 1rem;
    flex-basis: 70%;
    border-radius: 2rem;
}

.content .row{
    background-color: burlywood;

    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
}

.content .row .box{
    background-color: rgba(128, 255, 0, 0.483);
    padding: 1rem;
    flex-grow: 1;
    d
    text-align: center;
    height: 5rem;
}

.main-second {
    background-color: thistle;
    padding: 1rem;
    margin-bottom: 1rem;
}

.intro-box{
    background-color: #2bc055;
    margin-bottom: 1rem;
    padding: 1rem;
}

.about-section{
    background-color: aquamarine;
    padding: 1rem;
}

.footer{
    background-color:#f4edc2 ;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
}